#contactmap{
    height: 30em;
    border: solid black 2px;
}
#contacttable{
    height: 20em;
    overflow: auto;
}

td{
    cursor: pointer;
}

#updateform, #createform, #formtype{
    border: solid 2px darkgray;
    padding: 1em;
    border-radius: 1em;
}

#create{
    cursor: pointer;
}