extends layout

block content
    table.table.table-striped.table-responsive
        thead.thead-light
            tr 
                th Name
                th Address  
                th Phone 
                th E-Mail 
                th 
                th 
        tbody 
            each val,i in contacts 
                tr
                    td= val.Prefix + ' ' + val.FirstName + ' ' + val.LastName
                    td= val.Street + ' ' + val.City + ' ' + val.State + ' ' + val.Zip
                    td= val.Phone 
                    td= val.Email 
                    td
                        button delete
                    td 
                        button update 
    