extends layout

block content
    .container-fluid.h-60
        #contacttable
            table.table.table-striped.table-responsive.mw-100.p-2
                thead.thead-light
                    tr 
                        th Name
                        th Address  
                        th Phone 
                        th E-Mail 
                        th &nbsp
                        th &nbsp
                tbody 
                    each val,i in contacts 
                        - var name = val.Prefix + '. ' + val.FirstName + ' ' + val.LastName
                        - var address = val.Street + ', ' + val.City + ', ' + val.State + ', ' + val.Zip
                        - var phone = val.Phone
                        - var email = val.email
                        tr.tabledata(data-name = name, data-address = address, data-phone = phone, data-email = email)
                            td= name
                            td= address
                            td= phone 
                            td= email
                            td
                                button#delete.btn.btn-danger delete
                            td 
                                button#update.btn.btn-info update                          
        #contactmap
        |map should go here. 

    script(src='javascript/contactspage.js')