extends layout

block content

        form.form-horizontal(method="post" action="mailer")
            div#formtype
                .form-radio
                    input(type="radio" name="prefix" value="Mr")
                    | Mr.
                    input(type="radio" name="prefix" value="Mrs") 
                    | Mrs.
                    input(type="radio" name="prefix" value="Ms") 
                    | Ms.
                    input(type="radio" name="prefix" value="Dr") 
                    | Dr.
                
                .form-group
                    label(for="firstname") First Name: 
                    input(id="firstname" type="text" name="firstname" required autofocus) 
                    label(for="lastname") Last Name:
                    input(id="lastname" type="text" name="lastname" required)
                
                .form-group
                    label(for="street") Street:
                    input(id="street" type="text" name="street" )
                    label(for="city") City:
                    input(id="city" type="text" name="city")                   
                
                .form-group
                    label(for="state") State:
                    select(name="state")
                        option(selected="selected" value="") State
                        option(selected="NJ") NJ
                        option(selected="NY") NY
                        option(selected="PA") PA
                        option(selected="CT") CT
                    label(for="zip") ZIP:
                    input(id="zip" type="text" name="zip")
                    
                .form-group
                    label(for="phone") Phone:
                    input(id="phone" type="text" name="phone")
                
                .form-group
                    label(for="email") E-Mail:
                    input(id="email" type="text" name="email")
                
                .form-group
                    |Contact by:
                    input(type="checkbox" name="phonechk" value="phone") 
                    |Phone
                    input(type="checkbox" name="mailchk" value="mail") 
                    |Mail
                    input(type="checkbox" name="emailchk" value="email") 
                    |E-Mail
                    input(type="checkbox" name="any" value="any" checked) 
                    |Any
            
            button.btn.btn-primary(type="submit") Submit